  .taskItem {
    width: 100%;
    max-width: 700px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    transition: opacity 0.5s ease-out;
  }
  
  .taskItem.vanishing {
    opacity: 0;
  }
  
  .row {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .taskTitle {
    font-size: 24px;
    color: white;
    font-weight: 300;
    word-break: break-word;
    margin-top: 10px;
  }

  .deleteButton {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
  }

  .deleteButton:hover {
    color: #FB5607;
  }
  
  .taskTitle.completed {
    text-decoration: line-through;
    color: white;
  }
  
  
  /* Hide the default checkbox */
.custom-checkbox input {
    display: none;
}

/* Create a custom checkbox */
.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox .checkmark {
    width: 20px; 
    height: 20px; 
    border: 2px solid white; 
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Change the appearance when checked */
.custom-checkbox input:checked + .checkmark {
    background-color: white; 
    border-color: #007aff; 
    color: #007aff;
}

/* Create the checkmark/indicator */
.custom-checkbox .checkmark::after {
    content: "";
    position: absolute;
    left: 6px; 
    top: 2px; 
    width: 5px;
    height: 10px; 
    border: solid #333; 
    border-width: 0 2px 2px 0; 
    transform: rotate(45deg); 
    opacity: 0; 
    transition: opacity 0.3s;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked + .checkmark::after {
    opacity: 1; 
}