.taskListContainer {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.filterContainer {
  margin-bottom: 20px;
}

.filterButton {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #333;
  background-color: transparent;
}

.filterButton.active {
  background-color: #333;
  color: white;
}

.searchContainer {
  margin-bottom: 20px;
}

.searchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 5px;
}

.taskInputContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.taskInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

.colorPicker {
  border: none;
  cursor: pointer;
}

.addButton {
  padding: 10px 20px;
  font-size: 1rem;
  color: #333;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #333;
  color: white;
}

.taskItemsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.taskItem {
  padding: 20px;
  border-radius: 5px;
  width: 150px;
  height: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.taskTitle {
  font-size: 16px;
  margin: 0;
}

.taskTitle.completed {
  text-decoration: line-through;
}

.completeCheckbox {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
